# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
.next/
/.next/
out/
/out/
apps/*/.next/

# production / build
dist/
/build
.turbo/
**/.turbo/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
